<!DOCTYPE html>
<html>
  <head>
    <title>Chatapp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <script>
    if (localStorage.getItem("username") === null) {
      localStorage.setItem("username", `User-${Math.floor(Math.random() * 100000)}`)
    }
  </script>

  <body>
    <main class="container mx-auto px-5">
      <nav class="w-full flex pt-28 mb-5">
        <h1 class="title">ChatApp</h1>
        
        <div data-controller="username">
          <input type="text" name="username" id="username" placeholder="Choose your username" class="text-input" data-username-target="input">
          <button class="btn" data-action="click->username#change">Change username</button>
        </div>
      </nav>

      <%= yield %>
    </main>
  </body>
</html>
